.App-header {
  background-color: yellow;
  text-align: center;
}

.calculator-container {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 5% 0% 5% 0%;
  background: antiquewhite;
  margin: 0 25%;
}

.calculator-btn {
  width: 20%;
  height: 3.5rem;
  border-radius: 1rem;
  background: green;
  margin-left: 40%;
  cursor: pointer;
}

.calculator-btn:hover {
  box-shadow: 0px 0px 2px 8px lightgreen;
}

.query-container {
  gap: 1rem;
  display: flex;
  width: 80%;
  align-items: center;
}

#user-Input {
  padding: 0.25em;
  width: 85%;
  height: 2em;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 5px 5px #765343;
}
